<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Nuevo Usuario</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
</head>
<body id="cuerpo">
	<header id="encabezado-principal">
        <h1>¡Únete a nuestra Comunidad!</h1>
    </header>

    <main class="contenido-central">
        <form id="formularioPrincipal">
            <section class="seccion-formulario">
                <label for="dni">Documento de Identidad:</label>
                <input type="text" id="dni" name="dni" required>
            </section>

            <section class="seccion-formulario">
                <label for="nombres">Nombres:</label>
                <input type="text" id="nombres" name="nombres" required>
            </section>

            <section class="seccion-formulario">
                <label for="apellidos">Apellidos:</label>
                <input type="text" id="apellidos" name="apellidos" required>
            </section>

            <section class="seccion-formulario">
                <label for="fecha-nacimiento">Fecha de Nacimiento:</label>
                <input type="date" id="fecha-nacimiento" name="fecha-nacimiento" required>
            </section>

            <section class="seccion-formulario">
                <label>Género:</label>
                <input type="radio" id="femenino" name="genero" value="femenino">
                <label for="femenino">Femenino</label>
                <input type="radio" id="masculino" name="genero" value="masculino">
                <label for="masculino">Masculino</label>
                <input type="radio" id="otro" name="genero" value="otro">
                <label for="otro">Otro</label>
            </section>

            <section class="seccion-formulario">
                <label for="correo">Correo Electrónico:</label>
                <input type="email" id="correo" name="correo" required>
            </section>

            <section class="seccion-formulario">
                <label for="domicilio">Dirección de Residencia:</label>
                <input type="text" id="domicilio" name="domicilio" required>
            </section>

            <section class="seccion-formulario">
                <label for="provincia">Provincia:</label>
                <select id="provincia" name="provincia" required>
                    <option value="">Selecciona tu provincia</option>
                    <option value="provincia1">Provincia 1</option>
                    <option value="provincia2">Provincia 2</option>
                    <option value="provincia3">Provincia 3</option>
                </select>
            </section>

            <section class="seccion-formulario">
                <label for="telefono">Número de Teléfono:</label>
                <input type="text" id="telefono" name="telefono">
            </section>

            <section class="seccion-formulario">
                <label>Intereses:</label>
                <input type="checkbox" id="interes1" name="intereses" value="interes1">
                <label for="interes1">Interés 1</label>
                <input type="checkbox" id="interes2" name="intereses" value="interes2">
                <label for="interes2">Interés 2</label>
                <input type="checkbox" id="interes3" name="intereses" value="interes3">
                <label for="interes3">Interés 3</label>
            </section>

            <section class="seccion-formulario">
                <label for="sugerencias">Sugerencias o Comentarios:</label>
                <textarea id="sugerencias" name="sugerencias" rows="4" cols="50"></textarea>
            </section>

            <section class="seccion-formulario">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
            </section>

            <section class="seccion-formulario">
                <input type="checkbox" id="condiciones" name="condiciones" required>
                <label for="condiciones">Acepto los términos y condiciones</label>
            </section>

            <section class="seccion-formulario">
                <input type="checkbox" id="info" name="info">
                <label for="info">Quiero recibir información relevante</label>
            </section>

            <section class="seccion-formulario">
                <input type="submit" value="¡Regístrate Ahora!">
            </section>
        </form>
    </main>

    <footer id="pie-pagina">
        <a href="www.linkedin.com/in/ezequiel-carrillo-kelo03" class="enlace-red-social">Linkedin</a>
        <a href="https://www.instagram.com/ezee_carrill068/" class="enlace-red-social">Instagram</a>
    </footer>
</body>
</html>
