<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title> Programacion Visual y Java</title>
</head>
<body>
<header>
	JAVA 
</header>
 
<nav>
	<a>Inicio</a>
	<a>Contacto</a>
	<a>Sobre Java</a>
</nav>

<main>
	<section>
		<h1>Conociendo  Java</h1>
		<h2>Introduccion al Lenguaje</h2>
		<p> JAVA es un lenguaje Fuertemente Tipado y versatil que nos permite crear Aplicaciones Multiplataforma</p>
	</section>
	<section>
		<h1>Acerca  de Java</h1>
		<p>Sabias que  es uno de los lenguajes mas utilizado a nivel Mundial</p>
	</section>
	<section>
		<h1>Curiosidades de Java</h1>
		<p>Java es un sistema de programación que sirve tanto para el desarrollo de aplicaciones como para dar soporte a esas aplicaciones. Esto es, se trata de un lenguaje de programación full stack, que sirve para dar forma a lo que los usuarios ven y también para sostener la parte de servidor, lo que hace que realmente funcione todo.</p>
	</section>
	

	
	<ul>
	  <h1>Ventajas de aprender a programar en Java</h1>
	  <li> Lenguaje multiplataforma.</li>
	  <li>Código abierto.</li>
	  <li>Orientado a objetos.</li>
	  <li>Versatilidad</li>
	  <li>Expectativas laborales.</li>
	  
	</ul>

	<table>
		<h1>JRE y ECLIPSE</h1>
		<thead>JRE. Java Runtime Environment. Entorno de ejecución de Java algo que es indispensable para poder programar y compilar código java.</thead> 
		<tbody>Eclipse. Para mi el mejor entorno de desarrollo, gratuito, libre y con un montón de plugins para extender sus características. En las versiones modernas de Eclipse ya vienen incorporado JRE, lo cual no hace falta instalar Java, lo hace todo el instalador de Eclipse. Podemos descargar Eclipse desde su página oficial y descargamos la versión Java Developers.
</tbody>
	</table>
	
	<aside>
		<a>JAVA </a>
		<img 
		alt=SVG
		src="https://miro.medium.com/v2/resize:fit:2560/format:webp/1*2XrX0fP0htyTCah7AglTig.jpeg"
		/>
	</aside>
	
	<footer>
		<a>https://github.com/kelo01</a>
		<a>44769219@fi.unju.edu.ar</a>
	</footer>

</main>
</body>
</html>